
@{
    Layout = null;
}

<section id="services" class="pb-0">
	<div class="container">
		<div class="row mb-8">
			<div class="col-lg-10 col-xl-8 mx-lg-auto text-center">
				<div class="section-title h2 mb-3">
					<h2 class="mb-0">Services</h2>
					<span class="title-letter">S</span>
				</div>
				<p>Fusce massa dolor, mattis sed ultrices ut, placerat ut leo. Donec sed fringilla lectus, non vulputate orci. Integer id libero euismod, interdum ligula vel, porttitor magna. Sed euismod maximus finibus.</p>
			</div>
		</div>
		<div class="row my-n2 mx-sm-n2">
			<div class="col-md-6 col-xl-4 py-2 px-md-2">
				<div class="feature-block feature-boxed feature-decorated">
					<div class="feature-icon text-primary mb-3">
						<div>
							<i class="ti-timer"></i>
						</div>
					</div>
					<h3 class="h4 mb-2">Launch Quickly</h3>
					<p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu sed ligula malesuada, quis condimentum eros sollicitudin.</p>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 py-2 px-md-2">
				<div class="feature-block feature-boxed feature-decorated">
					<div class="feature-icon text-primary mb-3">
						<div>
							<i class="ti-brush-alt"></i>
						</div>
					</div>
					<h3 class="h4 mb-2">Stylish Design</h3>
					<p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu sed ligula malesuada, quis condimentum eros sollicitudin.</p>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 py-2 px-md-2">
				<div class="feature-block feature-boxed feature-decorated">
					<div class="feature-icon text-primary mb-3">
						<div>
							<i class="ti-book"></i>
						</div>
					</div>
					<h3 class="h4 mb-2">Well Documented</h3>
					<p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu sed ligula malesuada, quis condimentum eros sollicitudin.</p>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 py-2 px-md-2">
				<div class="feature-block feature-boxed feature-decorated">
					<div class="feature-icon text-primary mb-3">
						<div>
							<i class="ti-layers"></i>
						</div>
					</div>
					<h3 class="h4 mb-2">Multiple Styles</h3>
					<p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu sed ligula malesuada, quis condimentum eros sollicitudin.</p>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 py-2 px-md-2">
				<div class="feature-block feature-boxed feature-decorated">
					<div class="feature-icon text-primary mb-3">
						<div>
							<i class="ti-settings"></i>
						</div>
					</div>
					<h3 class="h4 mb-2">Fully Customizable</h3>
					<p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu sed ligula malesuada, quis condimentum eros sollicitudin.</p>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 py-2 px-md-2">
				<div class="feature-block feature-boxed feature-decorated">
					<div class="feature-icon text-primary mb-3">
						<div>
							<i class="ti-headphone-alt"></i>
						</div>
					</div>
					<h3 class="h4 mb-2">Friendly Support</h3>
					<p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum arcu sed ligula malesuada, quis condimentum eros sollicitudin.</p>
				</div>
			</div>
		</div>
	</div>
</section>
